{{#partial "contenido"}}


<div>
	</br>
	<p class="lead">Elija el reporte a visualizar </p>
	</br>
	<input type = "radio" name = "consumo" value = "Cliente" onclick="showCliente()"> Cliente
	<input type = "radio" name = "consumo" value = "Dispositivo" onclick="showDispositivo()"> Dispositivo
	<input type = "radio" name = "consumo" value = "Transformador" onclick="showTransformador()"> Transformador
</div>

<div class="container-fluid text-left">
	<div id="cliente-refrescar" style = "display: none">
		<p class="lead">Clientes <button type="button" class="btn btn-info btn-sm" onclick="refrescar('Hogares')"> <i class="fas fa-sync"></i></button></p>
		</br>
	</div>

<div id="caja-Hogares" style = "display: none">
	<table class="table table-responsive table-hover table-sm">
		<thead class="thead-dark">
			<tr>
			<th scope="col"class="align-middle text-center">#Id</th>
			<th scope="col"class="align-middle text-center">Nombre</th>
			<th scope="col"class="align-middle text-center">Consumo</th>
			<th scope="col"class="align-middle text-center">Fecha inicio periodo</th>
			<th scope="col"class="align-middle text-center">Fecha fin periodo</th>
			</tr>
		</thead>
		<tbody>
			{{#each clientes}}
				<tr>
					<td scope="row" class="align-middle">{{idObjeto}}
					</td>
					<td scope="row" class="align-middle">{{nombre}}
					</td>
					<td scope="row" class="align-middle">{{valor}}
					</td>
					<td scope="row" class="align-middle">{{fechaInicioString}}
					</td>
					<td scope="row" class="align-middle">{{fechaFinString}}
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	</br>
	</br>
</div>

<div id="dispositivo-refrescar" style = "display: none">
	<p class="lead">Consumo promedio por tipo de dispositivo <button type="button" class="btn btn-info btn-sm" onclick="refrescar('Dispositivos')"> <i class="fas fa-sync"></i> 
	</button></p>
</div>
<div id="caja-Dispositivos" style = "display: none">
	<p>Inteligentes</p>
	<table class="table table-responsive table-hover table-sm">
			<thead class="thead-dark">
				<tr>
				<th scope="col"class="align-middle text-center">#Id</th>
				<th scope="col"class="align-middle text-center">Nombre</th>			
				<th scope="col"class="align-middle text-center">Consumo</th>
				<th scope="col"class="align-middle text-center">Fecha inicio periodo</th>
				<th scope="col"class="align-middle text-center">Fecha fin periodo</th>
				</tr>
			</thead>
			<tbody>
				{{#each inteligentes}}
					<tr>
						<td scope="row" class="align-middle">{{idObjeto}}
						</td>
						<td scope="row" class="align-middle">{{nombre}}
						</td>
						<td scope="row" class="align-middle">{{valor}}
						</td>
						<td scope="row" class="align-middle">{{fechaInicioString}}
						</td>
						<td scope="row" class="align-middle">{{fechaFinString}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		</br>
	<p>Standards</p>
	<table class="table table-responsive table-hover table-sm">
			<thead class="thead-dark">
				<tr>
				<th scope="col"class="align-middle text-center">#Id</th>
				<th scope="col"class="align-middle text-center">Nombre</th>
				<th scope="col"class="align-middle text-center">Consumo</th>
				<th scope="col"class="align-middle text-center">Fecha inicio periodo</th>
				<th scope="col"class="align-middle text-center">Fecha fin periodo</th>
				</tr>
			</thead>
			<tbody>
				{{#each standards}}
					<tr>
						<td scope="row" class="align-middle">{{idObjeto}}
						</td>
						<td scope="row" class="align-middle">{{nombre}}
						</td>
						<td scope="row" class="align-middle">{{valor}}
						</td>
						<td scope="row" class="align-middle">{{fechaInicioString}}
						</td>
						<td scope="row" class="align-middle">{{fechaFinString}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		</br>
</div>

<div id="transformador-refrescar" style = "display: none">
	<p class="lead"> Consumo promedio por transformador <button type="button" class="btn btn-info btn-sm" onclick="refrescar('Transformadores')"> <i class="fas fa-sync"></i></button>
	</p>
</div>
<div id="caja-Transformadores" style = "display: none">
	<table class="table table-responsive table-hover table-sm">
			<thead class="thead-dark">
				<tr>
				<th scope="col"class="align-middle text-center">#Id</th>
				<th scope="col"class="align-middle text-center">Nombre</th>
				<th scope="col"class="align-middle text-center">Consumo</th>
				<th scope="col"class="align-middle text-center">Fecha inicio periodo</th>
				<th scope="col"class="align-middle text-center">Fecha fin periodo</th>
				</tr>
			</thead>
			<tbody>
				{{#each transformadores}}
					<tr>
						<td scope="row" class="align-middle">{{idObjeto}}
						</td>
						<td scope="row" class="align-middle">{{nombre}}
						</td>
						<td scope="row" class="align-middle">{{valor}}
						</td>
						<td scope="row" class="align-middle">{{fechaInicioString}}
						</td>
						<td scope="row" class="align-middle">{{fechaFinString}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
</div>

</div>
<script type="text/javascript" src="/js/datePicker.js"></script>
<script type="text/javascript" src="/js/commons.js"></script>
<script type="text/javascript" src="/js/reportes.js"></script>
{{/partial}}
{{>paginaBase.hbs}}